/*
Positionnement des valeurs dans l'arbre 1
 */
body .Arbre-1 #BC-1 {
  top: 0.4%;
  right: 42.7%;
}
body .Arbre-1 #BC-2 {
  top: 0.4%;
  right: 25.7%;
}
body .Arbre-1 #BC-3 {
  top: 3.4%;
  right: 40.9%;
}
body .Arbre-1 #BC-4 {
  top: 3%;
  right: 7.9%;
}
body .Arbre-1 #BC-4 {
  top: 3%;
  right: 7.9%;
}
