body {
  background-image: url("../img/fond.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body .Arbre-1,
body .Arbre-2,
body .Arbre-3 {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin: auto;
  width: 100%;
}
body .Arbre-1 img,
body .Arbre-2 img,
body .Arbre-3 img {
  width: 100%;
}
body .Arbre-1 .BC-values,
body .Arbre-2 .BC-values,
body .Arbre-3 .BC-values {
  position: absolute;
  color: #DBEEF1;
  font-weight: bold;
  padding: 11% 0 0 10%;
  cursor: pointer;
}
body .Arbre-2 .BaseCalamite,
body .Arbre-3 .BaseCalamite {
  display: none;
}
@media screen and (min-width: 620px) {
  body .Arbre-1,
  body .Arbre-2,
  body .Arbre-3 {
    width: 620px;
  }
}
