.Arbre {
  &-1,&-2,&-3{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: auto;
    width: 420px;
    img{
      width: 100%;
    }
    .BC-values{
      position: absolute;
      color: #DBEEF1;
      font-weight: bold;
      padding: 50px 0 0 37px;
      cursor: pointer;
    }
    .properties{
      visibility: hidden;
      position: absolute;
      color: #5B5B5B;
      width: 150px;
      padding: 14px;
      background-color: rgba(255, 255, 255, 0.9);
      .field-guide{
        padding: 3px 40px 3px 28px;
        background-image: url("../img/field-guide.JPG");
      }
      .ministry-manual{
        padding: 3px 0 3px 28px;
        background-image: url("../img/ministry-manual.JPG");
      }
      .field-guide, .ministry-manual{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
      }
    }
  }

  &-2, &-3{
    .BaseCalamite {
      display: none;
    }
  }

  &-1{
    #BC {
      &-001{
        top: 0.4%;
        right: 42.7%;
        &:hover #P-001{
          visibility: visible;
          top: 17%;
          right: 125%;
        }
      }
      &-002{
        top: 0.4%;
        right: 25.7%;
        &:hover #P-002{
          visibility: visible;
          top: 17%;
          right: 125%;
        }
      }
      &-003{
        top: 3.4%;
        right: 40.9%;
        &:hover #P-003{
          visibility: visible;
          top: 17%;
          right: 125%;
        }
      }
    }
  }

}
@media screen and (min-width: 900px)  {
  .Arbre {
    &-1,&-2,&-3 {
      width: 620px;
      .BC-values{
        padding: 76px 0 0 70px;
      }
    }
  }
}